image: node:18
# .gitlab-ci.yml

stages:
  - build
  - deploy

# Cache node_modules to speed up builds
cache:
  paths:
    - node_modules/

# Build stage
build:
  stage: build
  image: node:18  # Use your preferred Node version
  script:
    - npm install
    - npm run build  # Should create your 'build' folder
  artifacts:
    paths:
      - build/       # Make the build folder available to the deploy stage

# Deploy stage
pages:
  stage: deploy
  image: node:18
  dependencies:
    - build         # Pull artifacts from build stage
  script:
    - npm install -g gh-pages
    - gh-pages -d build
  only:
    - main          # Or master, whichever branch you want to deploy from