image: node:18

pages:
  cache:
    paths:
      - node_modules/

  script:
    - npm install
    - npm run build
    - mv build public   # GitLab Pages expects a folder called "public"

  artifacts:
    paths:
      - public

  only:
    - main