.about-section {
    text-align: center;
  }

.about-section p {
    font-size: 2rem;
    margin-bottom: 20px;
    color: pink;
    -webkit-text-stroke: 1px black; /* outline thickness + color */
    font-weight: 400;
}