.services-section {
    text-align: center;
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: pink;
    -webkit-text-stroke: 1px black; /* outline thickness + color */
    font-weight: 400;
}

.service-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
  
  .service-card {
    width: 250px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
}