.contact-section {
    text-align: center;
  }


  .contact-button {
    background: #000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  .contact-button:hover {
    background: #444;
  }