.header {
  height: 90vh; /* only this area shows the fixed image */
  display: flex; /* centers content vertically */
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
  color: white;
  background-image: url("../../assets/Tezza-9342.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding: 0 20px;
}

/* Content inside header */
.header-content {
  position: relative;
  z-index: 2;
}

 /* Fallback for failed mobile header image fixed position */
@media (max-width: 768px) {
  .header {
    background-attachment: initial;
  }
}

.header-content h1 {
  font-size: clamp(3rem, 4vw, 3.5rem);
  margin-bottom: 20px;
  color: white;
  -webkit-text-stroke: 2px black; /* outline thickness + color */
  font-weight: 700;
}

.header-content h2 {
  color: white;
  -webkit-text-stroke: 1px pink; /* outline thickness + color */
  font-weight: 300;
}

.header-button {
  background: #000;
  color: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.header-button:hover {
  background: #444;
}